<div class="w-full">
    <div class="flex justify-center">
        <button class="btn sm:btn-sm md:btn-md lg:btn-lg" [ngClass]="{'btn-neutral': tab==2}" (click)="tab=1" >Home</button>
        <button class="btn sm:btn-sm md:btn-md lg:btn-lg" [ngClass]="{'btn-neutral': tab==1}" (click)="tab=2" >Lista Locations</button>
    </div>
</div>

<div class="contents">
    @if(tab == 1) {
        <div class="py-10 px-6">
            <app-home />
        </div>
    } @else {
        <div class="py-10 px-6">
            <app-locations />
        </div>
    }
</div>
